baseFont = 'Roboto', sans-serif
titleFont = 'Roboto Condensed', sans-serif
baseColor = #242424
fontSize = 14px
lineHeight = 1.4
lightColor = #FFFFFF
accentColor = #F24F2C
changeColor = 20%
siteMinWidth = 320px
siteMaxWidth = 1920px
stickyFooterHeight = 230px

xs = 480px
sm = 767px
md = 991px
lg = 1199px
xl = 1680px

