doctype html
html.h-100
    include ../includes/head.pug
    body.bg-light.h-100
        .site.mx-auto.d-flex.flex-column.h-100.w-100.position-relative
            include ../includes/header.pug
            .site-content.flex-grow-1.flex-shrink-0
                block site-content
            include ../includes/footer.pug
        include ../includes/scripts.pug
