doctype html
html
	include ../includes/head.pug
	body.body
		.site
			include ../includes/header.pug
			.site__content.content
				block site__content
			include ../includes/footer.pug
		script(src='assets/js/vendor.min.js')
		script(src='assets/js/scripts.min.js')
