doctype html
html
    include ../includes/head.pug
    body
        div.wrap-site
            include ../includes/site-header.pug
            block content
            include ../includes/site-footer.pug
