extends ../layouts/default.pug

block site-content
    section.page.mt-3
        .container
            .page-header.mb-4
                h1.h2.page-title.font-weight-normal.text-center.text-muted
                    | Blog
                .page-subtitle.lead.text-center.text-info
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, iure?
            .page-content
                .card.mb-4
                    .card-header
                        h3.card-title.lead.m-0
                            a.text-info(href='#')
                                | Lorem ipsum dolor sit amet, consectetur adipisicing.
                    .card-body.bg-light.pt-2.pb-0
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi culpa cum cumque delectus, deleniti deserunt eum hic iste, laborum magni maxime obcaecati quae quaerat quam qui repellat reprehenderit saepe tempore tenetur ut, voluptate voluptatum. At cumque deserunt, ducimus et illum ipsa laboriosam laudantium, nesciunt odit officia placeat, sit totam.
                    .card-footer
                        a.btn.btn-info(href='#')
                            | More
                .card.mb-4
                    .card-header
                        h3.card-title.lead.m-0
                            a.text-info(href='#')
                                | Lorem ipsum dolor sit amet, consectetur adipisicing.
                    .card-body.bg-light.pt-2.pb-0
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi culpa cum cumque delectus, deleniti deserunt eum hic iste, laborum magni maxime obcaecati quae quaerat quam qui repellat reprehenderit saepe tempore tenetur ut, voluptate voluptatum. At cumque deserunt, ducimus et illum ipsa laboriosam laudantium, nesciunt odit officia placeat, sit totam.
                    .card-footer
                        a.btn.btn-info(href='#')
                            | More
                .card.mb-4
                    .card-header
                        h3.card-title.lead.m-0
                            a.text-info(href='#')
                                | Lorem ipsum dolor sit amet, consectetur adipisicing.
                    .card-body.bg-light.pt-2.pb-0
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi culpa cum cumque delectus, deleniti deserunt eum hic iste, laborum magni maxime obcaecati quae quaerat quam qui repellat reprehenderit saepe tempore tenetur ut, voluptate voluptatum. At cumque deserunt, ducimus et illum ipsa laboriosam laudantium, nesciunt odit officia placeat, sit totam.
                    .card-footer
                        a.btn.btn-info(href='#')
                            | More
                .card.mb-4
                    .card-header
                        h3.card-title.lead.m-0
                            a.text-info(href='#')
                                | Lorem ipsum dolor sit amet, consectetur adipisicing.
                    .card-body.bg-light.pt-2.pb-0
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi culpa cum cumque delectus, deleniti deserunt eum hic iste, laborum magni maxime obcaecati quae quaerat quam qui repellat reprehenderit saepe tempore tenetur ut, voluptate voluptatum. At cumque deserunt, ducimus et illum ipsa laboriosam laudantium, nesciunt odit officia placeat, sit totam.
                    .card-footer
                        a.btn.btn-info(href='#')
                            | More
                .card.mb-4
                    .card-header
                        h3.card-title.lead.m-0
                            a.text-info(href='#')
                                | Lorem ipsum dolor sit amet, consectetur adipisicing.
                    .card-body.bg-light.pt-2.pb-0
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi culpa cum cumque delectus, deleniti deserunt eum hic iste, laborum magni maxime obcaecati quae quaerat quam qui repellat reprehenderit saepe tempore tenetur ut, voluptate voluptatum. At cumque deserunt, ducimus et illum ipsa laboriosam laudantium, nesciunt odit officia placeat, sit totam.
                    .card-footer
                        a.btn.btn-info(href='#')
                            | More
            .page-footer
                nav(aria-label='Page navigation example')
                    ul.pagination.justify-content-center
                        li.page-item
                            a.page-link.text-info(href='#', aria-label='Previous')
                                span(aria-hidden='true')
                                    | &laquo;
                                span.sr-only
                                    | Previous
                        li.page-item
                            a.page-link.text-info(href='#')
                                | 1
                        li.page-item
                            a.page-link.text-info(href='#')
                                | 2
                        li.page-item
                            a.page-link.text-info(href='#')
                                | 3
                        li.page-item
                            a.page-link.text-info(href='#', aria-label='Next')
                                span(aria-hidden='true')
                                    | &raquo;
                                span.sr-only
                                    | Next