extends ../layouts/default.pug

block site-content
    section.page.mt-3
        .container
            .page-header.mb-4
                h1.h2.page-title.font-weight-normal.text-center.text-muted
                    | Page title
                .page-subtitle.lead.text-center.text-info
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, iure?
            .page-content
                .row
                    .col-sm-4
                        .border.border-info.rounded.pt-3.px-3
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur esse exercitationem facilis placeat possimus similique voluptates? Adipisci commodi culpa delectus dicta distinctio eos et facilis illo magni minima neque odio possimus quas ratione reiciendis sequi sunt unde, voluptatem. Architecto asperiores consequuntur ea illo perspiciatis, possimus provident ullam voluptates voluptatibus!
                    .col-sm-4
                        .border.border-info.rounded.pt-3.px-3
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur esse exercitationem facilis placeat possimus similique voluptates? Adipisci commodi culpa delectus dicta distinctio eos et facilis illo magni minima neque odio possimus quas ratione reiciendis sequi sunt unde, voluptatem. Architecto asperiores consequuntur ea illo perspiciatis, possimus provident ullam voluptates voluptatibus!
                    .col-sm-4
                        .border.border-info.rounded.pt-3.px-3
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur esse exercitationem facilis placeat possimus similique voluptates? Adipisci commodi culpa delectus dicta distinctio eos et facilis illo magni minima neque odio possimus quas ratione reiciendis sequi sunt unde, voluptatem. Architecto asperiores consequuntur ea illo perspiciatis, possimus provident ullam voluptates voluptatibus!
            .page-footer.mt-4
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aperiam asperiores, autem blanditiis commodi consequatur deleniti dolore dolorem dolores dolorum eius est expedita facere facilis ipsam itaque magnam magni maiores perferendis placeat provident quam quo quod reiciendis ut veritatis voluptatum. Blanditiis commodi eius incidunt obcaecati recusandae! Architecto at cumque dicta dolor dolore eaque eius et eveniet in iusto laboriosam laudantium nihil nulla quam, quod soluta sunt tempora ut! Doloremque, eos ex. Aliquam atque autem commodi debitis maiores necessitatibus possimus qui voluptatum? Ab cumque cupiditate, delectus fugit impedit molestiae nihil nisi non nostrum odit, officiis praesentium quas, quasi suscipit totam ullam.