@font-face
  font-family Roboto
  src url('../fonts/roboto/roboto-regular.eot')
  src url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular.woff') format('woff'),
  url('../fonts/roboto/roboto-regular.ttf') format('truetype')
  font-style normal
  font-weight normal
@font-face
  font-family Roboto Condensed
  src url('../fonts/roboto_condensed/robotocondensed-regular.eot')
  src url('../fonts/roboto_condensed/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto_condensed/robotocondensed-regular.woff2') format('woff2'),
  url('../fonts/roboto_condensed/robotocondensed-regular.woff') format('woff'),
  url('../fonts/roboto_condensed/robotocondensed-regular.ttf') format('truetype')
  font-style normal
  font-weight normal