// Fonts
baseFont = 'Roboto', sans-serif
titleFont = 'Roboto Condensed', sans-serif
fontSize = 14px
lineHeight = 1.4

// Colors
accentColor = #F24F2C
baseColor = #242424
lightColor = #FFFFFF
changeColor = 20%

// Height & width
siteMinWidth = 320px
siteMaxWidth = 1920px
stickyFooterHeight = 230px

// Breakpoints
xs = 481px // 481...767px
sm = 768px // 768...991px
md = 992px // 992...1199px
lg = 1200px // 1200...1599px
xl = 1600px // >1600px

