// Fonts
fontSize = 16px

// Colors
accentColor = #FF515C
addColor = #E8EA4D
changeColor = 20%
darkColor = #555555
lightColor = #FFFFFF
themeColor = #568ECC

// Height & width
headerHeight = 60px
siteMinWidth = 320px
siteMaxWidth = 1920px

// Breakpoints
xs = 481px
sm = 576px
md = 768px
lg = 992px
xl = 1200px
xxl = 1600px

// Overlays
addOverlay = rgba(232, 234, 77, 0.35)
darkOverlay = rgba(0, 0, 0, 0.35)
lightOverlay = rgba(255, 255, 255, 0.8)
themeOverlay = rgba(86, 142, 204, 0.45)
