footer.site-footer.footer.flex-grow-0.flex-shrink-0.bg-dark.mt-5
    .container
        .row.align-items-center
            .col-sm-6
                .social.py-3
                    a.text-white.mr-3(href='https://github.com/mikorn', target='_blank')
                        i.fab.fa-github.h4
                    a.text-white.mr-3(href='https://www.facebook.com/webmikorn/', target='_blank')
                        i.fab.fa-facebook-f.h4
                    a.text-white.mr-3(href='https://vk.com/webmikorn', target='_blank')
                        i.fab.fa-vk.h4
                    a.text-white.mr-3(href='https://twitter.com/Webmikorn', target='_blank')
                        i.fab.fa-twitter.h4
                    a.text-white(href='https://www.youtube.com/c/WebmikornRus', target='_blank')
                        i.fab.fa-youtube.h4
            .col-sm-6
                .text-sm-right
                    a.text-light(href='https://webmikorn.ru', target='_blank')
                        | Разработка Микорн
