head
    meta(http-equiv='content-type' content='text/html' charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Computers
    link(rel='stylesheet' href='assets/css/vendor.min.css')
    link(rel='stylesheet' href='assets/css/styles.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed' rel='stylesheet')
