script(src='libs/jquery/jquery.min.js')
script(src='libs/bootstrap/bootstrap.min.js')
script(src='libs/wow/wow.min.js')
script(src='libs/parallax.js/parallax.min.js')
script(src='libs/page-scroll-to-id/jquery.malihu.PageScroll2id.js')
script(src='assets/js/custom.min.js')
