header.site-header 
    h1.site-header-logo Logo
    div.site-header-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies consequat metus, sed eleifend nulla porttitor in. Vestibulum id consectetur quam, vel finibus urna. Ut a tellus est. Mauris porttitor tempor fringilla.