extends ../layouts/layout.pug

block content
    h1 Услуги
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur eget diam vel fringilla. Praesent accumsan aliquet luctus. Suspendisse nec dignissim velit, vel feugiat ipsum. Donec vulputate, orci sed ultricies tristique, libero felis hendrerit nisl, sed vestibulum quam enim non lacus. Quisque in maximus neque, vitae tempus risus. Maecenas ut bibendum justo. Fusce eu tincidunt nibh, nec pellentesque nulla. Fusce fermentum auctor ipsum, ut pulvinar mi posuere a. Donec in massa ut mauris lobortis rutrum. Sed vehicula venenatis euismod. Morbi id augue in mi ultricies commodo et ut mauris. Maecenas justo nisl, aliquam eget nisi eu, pretium porttitor felis. Proin nec felis volutpat, dictum massa vel, euismod enim. 