section.main.parallax-window(data-parallax='scroll', data-image-src='assets/images/main/main.jpg')
    .main-overlay.d-flex.flex-column.justify-content-center.align-items-center
        .main-header.position-relative.mb-5.wow.fadeInDown
            .main-shape
            h1.wp-main-title.text-center.text-md-left.font-weight-normal.text-light.my-2.my-md-0.position-relative
                | Микорн: полезные материалы по веб-разработке