.container.py-5
    h2.h3.font-weight-normal.mt-5.mb-3.text-muted.text-center
        | Последние публикации
    .card-group
        .card
            img.card-img-top(src='assets/images/public/public.jpg', alt='Alt')
            .card-header
                h3.card-title.lead.text-center.my-0
                    | Lorem ipsum dolor sit amet
            .card-body.pb-0.bg-light
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate distinctio ea earum eos laborum maxime minus pariatur praesentium rem, rerum sequi similique ut! Architecto, consequatur debitis eligendi id incidunt nesciunt obcaecati officia praesentium tenetur.
            .card-footer.text-center
                a.btn.btn-success.btn-sm(href='#')
                    | Подробнее
        .card
            img.card-img-top(src='assets/images/public/public.jpg', alt='Alt')
            .card-header
                h3.card-title.lead.text-center.my-0
                    | Lorem ipsum dolor sit amet
            .card-body.pb-0.bg-light
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate distinctio ea earum eos laborum maxime minus pariatur praesentium rem, rerum sequi similique ut! Architecto, consequatur debitis eligendi id incidunt nesciunt obcaecati officia praesentium tenetur.
            .card-footer.text-center
                a.btn.btn-success.btn-sm(href='#')
                    | Подробнее
        .card
            img.card-img-top(src='assets/images/public/public.jpg', alt='Alt')
            .card-header
                h3.card-title.lead.text-center.my-0
                    | Lorem ipsum dolor sit amet
            .card-body.pb-0.bg-light
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate distinctio ea earum eos laborum maxime minus pariatur praesentium rem, rerum sequi similique ut! Architecto, consequatur debitis eligendi id incidunt nesciunt obcaecati officia praesentium tenetur.
            .card-footer.text-center
                a.btn.btn-success.btn-sm(href='#')
                    | Подробнее


