section.section.technology.py-5.mt-4
    .container
        .wp-section-header.d-flex.justify-content-center.align-items-center.mb-4
            .section-shape
            h2.section-title.text-center.font-weight-normal
                | Тechnologies
        .section-content.mb-5.mt-4.pt-2.bd-highlight
            .row.align-items-end
                .col-6.col-sm-4.col-lg-2
                    section.card.bg-light.border-0.mb-3.h-100
                        a(href='https://nodejs.org', target='_blank')
                            img.card-img.card-img.d-block.w-75.mx-auto(src='assets/images/technology/nodejs.png', alt='Node.js')
                            .card-header.bg-light.border-0
                                h3.card-title.lead.font-weight-normal.text-center.mt-2.mb-0.text-muted
                                    | Node.js
                .col-6.col-sm-4.col-lg-2
                    section.card.bg-light.border-0.mb-3.h-100
                        a(href='https://gulpjs.com', target='_blank')
                            img.card-img.d-block.w-50.mx-auto(src='assets/images/technology/gulp.png', alt='Gulp')
                            .card-header.bg-light.border-0
                                h3.card-title.lead.font-weight-normal.text-center.mt-2.mb-0.text-muted
                                    | Gulp
                .col-6.col-sm-4.col-lg-2
                    section.card.bg-light.border-0.mb-3.h-100
                        a(href='https://git-scm.com', target='_blank')
                            img.card-img.d-block.w-75.mx-auto(src='assets/images/technology/git.png', alt='Git')
                            .card-header.bg-light.border-0
                                h3.card-title.lead.font-weight-normal.text-center.mt-2.mb-0.text-muted
                                    | Git
                .col-6.col-sm-4.col-lg-2
                    section.card.bg-light.border-0.mb-3.h-100
                        a(href='https://bower.io', target='_blank')
                            img.card-img.d-block.w-75.mx-auto(src='assets/images/technology/bower.png', alt='Bower')
                            .card-header.bg-light.border-0
                                h3.card-title.lead.font-weight-normal.text-center.mt-2.mb-0.text-muted
                                    | Bower
                .col-6.col-sm-4.col-lg-2
                    section.card.bg-light.border-0.mb-3.h-100
                        a(href='https://pugjs.org', target='_blank')
                            img.card-img.d-block.w-75.mx-auto(src='assets/images/technology/pug.png', alt='Pug')
                            .card-header.bg-light.border-0
                                h3.card-title.lead.font-weight-normal.text-center.mt-2.mb-0.text-muted
                                    | Pug
                .col-6.col-sm-4.col-lg-2
                    section.card.bg-light.border-0.mb-3.h-100
                        a(href='http://stylus-lang.com', target='_blank')
                            img.card-img.d-block.w-75.mx-auto(src='assets/images/technology/stylus.png', alt='Stylus')
                            .card-header.bg-light.border-0
                                h3.card-title.lead.font-weight-normal.text-center.mt-2.mb-0.text-muted
                                    | Stylus