doctype html
html
    include ../includes/_head.pug
    body
        div.wrap-site
            include ../includes/_site-header.pug
            block content
            include ../includes/_site-footer.pug